i{font-style:normal}
.content{direction:rtl; margin-left:2%; margin-right:2%}

path {color: red;transition: all 1s;}
path:hover {fill: black;stroke: white;}
.meteo{position: relative;display: inline-block;font-size: 1.4em}
ui.popup>ui.column{background-color: blue;}

.forecast{ transition: all .6s }
.forecast:hover {transform: translateY(-5%)}

.astr.ui.three.wide.column{transition: all .5s}
.astr.ui.three.wide.column:hover{transform:translateY(5%)}