
<div class="horloge">
	<div class="time">
		<i id="time"></i>
	<hr />
	</div>
	
	<div class="date">
		<div id="ber" class="dt"></div>
		<div id="isl" class="dt"></div>
		<div id="fr" class="dt"></div>
		<div id="en" class="dt"></div>
	</div>
</div>
<div id="alrdy" style="display:none"></div>

<div class="waqthandler">
	{% for i in xrange(5) %}
	
	<div class="waqt">
			
		<div class="youm">
				<i class="c{{i}}">{{days[(jour+i)%7]}} <i id="dt{{i}}"> {{res[i]["date"]}}</i></i>
		</div>
		
		<div class="temps">
		<div class="raise">
		<div class="sunraise"><i class="riz">{{res[i]["astronomy"][0]["sunrise"]}}</i></div>
		<div class="sunset"><i class="riz">{{res[i]["astronomy"][0]["sunset"]}}</i></div>
		</div>
		
		<div class="set">
		<div class="moonraise"><i class="riz">{{res[i]["astronomy"][0]["moonrise"]}}</i></div>
		<div class="moonset"><i class="riz">{{res[i]["astronomy"][0]["moonset"]}}</i></div>
		</div>
		</div>	
		
	</div>


	{% end %}

</div>

<div id="jeun" style="display:none">
 وكتاش رمضان  <i class="mo"></i>
</div>

<div id="ramdhan" style="display:none">

<div class="karim">
 
  <div class="content">
    <div id="ram"></div><hr />
    <p>يدخل هلال رمضان الكريم</p>
  </div>

</div>

<div class="karim">
  
  <div class="content">
    <div id="nisf"></div><hr />
    <p>النصفية</p>
  </div>

</div>

<div class="karim">

  <div class="content">
    <div id="aid"></div><hr />
    <p>يدخل هلال شوال</p>
  </div>


</div>

</div>