<div class="ui five column stackable doubling grid">
	{% for i in xrange(5) %}
	<div class="ui column">
		<div class="astr ui three wide column">
			<div class="astro ui inverted segment">
				<div class="ui top attached black label c{{i}}">
					{{days[(jour+i)%7]}}
					<div>{{res[i]["date"]}}</div>
				</div>
				<div>&nbsp;</div>
				<div class="ui label sunraise">
					<div class="detail">
						<i id="riz{{i}}">{{res[i]["astronomy"][0]["sunrise"][:-3]}}</i>
					</div>
				</div>
				<div class="ui label sunset">
					<div class="detail">
						<i id="set{{i}}">{{str(datetime.datetime.strptime(res[i]["astronomy"][0]["sunset"],
							"%I:%M %p"))[11:-3]}}</i>
					</div>
				</div>
			</div>
		</div>


	</div>


	{% end %}
</div>