<div class="ui centered grid">
	<div class="ui fourteen wide column"><div class="ui all stacked blue segment">
	Powered by <a href="http://www.worldweatheronline.com/" title="Free Weather API" target="_blank">World Weather Online</a>
<a href="https://developer.worldweatheronline.com/" target="_blank"><img class="ui round image" alt="Weather API" src="http://cdn.worldweatheronline.net/staticv3/images/logo_small.png" style="border-style:solid; border-width:0px; height:43px; width:100px" /></a>
</div>
</div>
</div>

<div class="ui first coupled modal">
    <i class="close icon"></i>
    <div class="header">
      ڤول لي كاش حاجة
    </div>
    
    <div class="content">
    
      <form id="feedb" class="ui form"  method="post" action="/msg">
      	{% raw xsrf_form_html() %}
        <h4 class="ui dividing header">واش رايك في السيت ؟</h4>
        <div class="required field">
          <label><i class="write icon"></i></label>
	          <textarea name="msg" placeholder="عبر عن شعورك يا مواطن"></textarea>
	          <div class="ui green button" id="fdbk" >دز الحية ;)</div>
      </form>
   
   </div>
</div>

  
  
  <div class="ui small second coupled modal">

  </div>
  