<div class="jawcontain">
{% for i in xrange(1, 4) %}
	
	<div class="jaw" id="e{{i}}">
	<div class="hala">
	{% module Jaw(code = res[0]["hourly"][i]["weatherCode"], sun=res[0]["hourly"][i]["isdaytime"]) %}
	
	
	<div class="har">
		<i class="temp">{{res[0]["hourly"][i]["tempC"]}}°</i>
		<div class="feel">تحس
			<i class="hess">{{res[0]["hourly"][i]["FeelsLikeC"]}}°</i>
		</div>
	</div>
	
	</div>
		
	<ul class="info">
		<li class="shab"> مسحبة على <i class="nua">{{res[0]["hourly"][i]["cloudcover"] }}</i> %</li>	
		<li class="umbrel"> <i class="rai">{{res[0]["hourly"][i]["precipMM"] }}</i> ملمتر </li>
		<li><i class="medity"></i> الميديتي <i class="medit">{{res[0]["hourly"][i]["humidity"] }}</i> % </li>
		<li><i class="eye"></i> الرؤية على <i class="viz">{{res[0]["hourly"][i]["visibility"] }}</i> كيلومتر</li>
		<li>الضغط بشدة  <i class="pres">{{res[0]["hourly"][i]["pressure"] }}</i> ميلي بار</li>
		<li class="windd"> الريح بسرعة  <i class="rih">{{res[0]["hourly"][i]["windspeedKmph"] }}</i> كلم\سا </li>
		<li class="{{res[0]["hourly"][i]["winddir16Point"] }}" id="w{{i}}"> و يضرب على الجهة  </li>
	</ui>

		
	</div>
	
{% end %}
</div>