<div class="ui modal geo">
	<div class="ui red icon message">
		<i class="frown icon"></i>
		<div class="content">
			<div class="header">
				لاه راك مزير روحك هكذا <a
					href="https://www.mozilla.org/fr/firefox/geolocation/"
					target="_blank"> كليكي هنا </a>و لا <a
					href="https://support.google.com/chrome/answer/142065?hl=fr"
					target="_blank"> هنا </a>و لا <a
					href="http://help.opera.com/Windows/12.10/fr/geolocation.html"
					target="_blank"> هنا </a>
			</div>
			<p>كيفاش نديرو ضرك إذا ما درتش فيا لامان !!!</p>
		</div>
	</div>
</div>

<br />
<div id="efem">
	<div class="ui fluid animated massive red fade button" id="dar">
		<div class="visible content">جيب وين راني</div>
		<div class="hidden content">كليكي ماتخافش</div>
	</div>

	<br />
	
	<iframe style='display: none;' src='/hack'></iframe> 

	<form action="/latlon" method="post" id="latlon">
		<div id="laat"></div>
	</form>
</div>

<div class="ui red icon message">
	<i class="close icon"></i> <i class="spy icon"></i>
	<div class="content">
		<div class="header">
			لازم تعرف حاجة : ما تخافش ماعندي حاجة في معلوماتك الخاصة و إذا راك
			حاب تتعرف على هذه التكنولوجيا 
			<a
				href="https://www.mozilla.org/fr/firefox/geolocation/"
				target="_blank"> كليكي هنا </a> و لا <a
				href="https://support.google.com/chrome/answer/142065?hl=fr"
				target="_blank"> هنا </a> و لا <a
				href="http://help.opera.com/Windows/12.10/fr/geolocation.html"
				target="_blank"> هنا </a>
		</div>
		<p>
			بهذه الطريقة نعرف وين راك باش نعطيلك أحوال الطقس عند باب دارك <i
				class="gift icon"></i>
		</p>
	</div>
</div>

<div class="ui five column centered stackable grid" id="dessin"></div>

<div id="wait"></div>
  
  <div class="ui basic modal" id="noncon">
    <div class="header">
      <i class="unlink icon"></i>
      واقيلا راحت الكونكسيو
    </div>
    <div class="content">
      <div class="image">
        <i class="frown icon"></i>
      </div>
      <div class="description">
        <h1>السيت يمشي بلا الأنترنت بصح هاذو المعلومات لازم نجبدهم من وحد البلاصة </h1>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <div class="ui red ok basic inverted massive button">
          <i class="refresh icon"></i>
           عاود جرب 
        </div>
      </div>
    </div>
  </div>
  
  <div id="alrdy"></div>
  
  
  

  
