<!DOCTYPE html>

<html>
  <head>
  	<meta charset="UTF-8">
  	<title>adminossss</title>
  	<link rel="stylesheet" href="static/css/semantic.min.css" />
 </head>
 
<body>

<br />

<div class="ui centered grid">

	{% for comment in comments %}
	
	<div class="ui four wide column">
		<div class="ui comments">
			<div class="ui segment">
				<div class="comment">
					<div class="ui fluid card">
						<div class="image">
							<i class="orange small user icon"></i>
						</div>
						<div class="content">
							<a class="header"><i class="{{comment["info"][0].lower()}} flag"></i> <p class="metadata">{{comment["_id"]}}</p> {{comment["info"][2].lower()}}</a>
						</div>
					</div>

					{% for i in xrange(len(comment["tm"])) %}

					<div class="content">
						<i class="author"><i class="inverted blue comment icon"></i></i>
						<div class="metadata">
							<span class="date">{{str(comment["tm"][i])[:16]}}</span>
						</div>
						<div class="text">{{comment["msg"][i]}}</div>
						<div class="ui divider"></div>
					</div>

					{% end %}

				</div>
			</div>
		</div>

	</div>
	
	{% end %}

</div>
</body>