<!DOCTYPE html>

<html>
  <head>
  	<meta charset="UTF-8">
  	
  	<title>&#9729;&#9728;&#9730;الأحوال الجوية&#9729;&#9728;&#9730;</title>
  	
  	<link rel="stylesheet" href="{{ static_url('css/meteo.css') }}" />
  	<link rel="stylesheet" href="{{ static_url('css/semantic.min.css') }}" />
  	<link rel="stylesheet" href="{{ static_url('css/main.css') }}" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.js"></script>
	<script src="{{ static_url('js/geo.js') }}"></script>
	<script src="{{ static_url('js/meteo.js') }}"></script>
	<script src="{{ static_url('js/countdown.js') }}"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	
	
	
	
 </head>
 
<body>