<!DOCTYPE html>

<html manifest="meteo.appcache">
  <head>
  	<meta charset="UTF-8">
  	<title>&#9729;&#9728;&#9730;الأحوال الجوية&#9729;&#9728;&#9730;</title>
  	<link rel="stylesheet" href="static/css/meteo.css" />
  	<link rel="stylesheet" href="static/css/semantic.min.css" />
  	<link rel="stylesheet" href="static/css/main.css" />
  	<script src="static/js/jquery-2.1.1.min.js"></script>
  	<script src="static/js/semantic.min.js"></script>
	<script src="static/js/geo.js"></script>
	<script src="static/js/meteo.js"></script>
	
 </head>
 
<body>
