<html>
<head>
<meta charset="utf-8">
<title>- ooops! -</title>
<link rel="stylesheet" href="static/css/bsod.css" />
</head>
<body>
<span class="neg">FATAL ERROR</span>
<p>
The page you try to visit rejected you because you use Dev Killer, AKA Internet Explorer<br />
même Microsoft a décidé de l'abandonner, Wesh rak testenna? .	
</p>
<p>
* Roh tilicharji Chrome, Opera, wella Firefox.<br />

* Wella dir CTRL+ALT+DEL idha rak hab toug3ed m3a Internet Explorer<br />
</p>

<p>Technical information: <br /><br />
		***STOP: 0x00000054 (0x68697320, 0x00000069, 0x73206661, 0x00006B65)<br /></p>
		
Press any link to continue <blink>_</blink> Or, download another browser if it doesent work :D



</body>
</html>