{% include header.html %}
<input id="youm" type="hidden" value="{{now[:10]}}">
<input id="dhork" type="hidden" value="{{now[11:19]}}">

{% module Modals() %}

<div id="content">
<div class="header">

<div class="droite">

	<div class="donate">
		<a href="https://github.com/abdelouahabb/hafhafi" target="_blank" class="don"><i class="github" title="for me on github!"></i></a>
	 	<a href="#bitcoin" class="don" title="donate?" onclick="blury()"><i class="bitcoin"></i></a>
	 	<a href="#litecoin" class="don" title="donate?" onclick="blury()"><i class="litcoin"></i></a>
	</div>
	
	<div class="treedi">
	<div class="bouton">
	<a href="#contact" onclick="blury()">
	<h1 class="visible">ڤول لي حاجة</h1>
	</a>
	<a href="#contact" onclick="blury()">
	<h1 class="invisible">كليكي عليا</h1>
	</a>
	
	</div>
	</div>
</div>

<div class="lang">
<div class="lng"><div class="en"><a href="#" title="English">0000</a></div></div>
<div class="lng"><div class="fr"><a href="#" title="Français">0000</a></div></div>
<div class="lng"><div class="dz"><a href="#" title="دارجة">0000</a></div></div>
<div class="lng"><div class="ar"><a href="#" title="العربية">0000</a></div></div>
<div class="lng"><div class="ka"><a href="#" title="Taqbaylit">0000</a></div></div>
</div>

<div class="ad">some ad here <i class="cofi"></i></div>



</div>

<br/>



<div class="content">


{% if fox == "fox" %}

<div class="ui red icon message"><i class="close icon"></i> <i class="bug icon"></i><div class="content"><div class="header">السيت ما يمشيش مليح على فايرفوكس جيب كروم ولا أوبرا
<a href="https://support.google.com/installer/answer/126299?hl=en" target="_blank"> كليكي هنا لكروم </a> 
و لا <a href="http://www.opera.com/fr/computer/thanks?partner=www&par=id%3D38198%26amp;location%3D395&gaprod=opera" target="_blank"> هنا لأوبرا </a></div><p>ضرك لانيماصيو ما تمشيش <i class="configure icon"></i></p></div></div>

{% end %}



{% module Astro(res) %}

{% module Geo() %}

<h2 id="bled">
<i class="dwn"> </i>
اليوم في سطيـــف (هاذي ماشي معناه راك في سطيف، لازم تكليكي على جيب وين راني باش نجيبلك وين راك) 
<i class="travel"> </i>
</h2>



<br/>


{% module Detail(res) %}

<input type="hidden" id="day" value="{{jour}}"/>
<div id="nocon"></div>
</div>

{#
{% module Contact() %}
#}
</div>
</body>
</html>
