{% include header.html %}



<div id="srf">
{% raw xsrf_form_html() %}
</div>

<div class="ui right aligned grid">
	<div class="ui three wide column">
	<div class="ui center aligned inverted orange segment">	
		<div id="me" class="ui animated fade large inverted button">
		  <div class="visible content">ڤول لي حاجة</div>
		  <div class="hidden content">عبر عن شعورك</div>
		</div>
	</div>
	</div>
</div>
<br/>

<div class="content">


{% if fox == "fox" %}

<div class="ui red icon message"><i class="close icon"></i> <i class="bug icon"></i><div class="content"><div class="header">السيت ما يمشيش مليح على فايرفوكس جيب كروم ولا أوبرا
<a href="https://support.google.com/installer/answer/126299?hl=en" target="_blank"> كليكي هنا لكروم </a> 
و لا <a href="http://www.opera.com/fr/computer/thanks?partner=www&par=id%3D38198%26amp;location%3D395&gaprod=opera" target="_blank"> هنا لأوبرا </a></div><p>ضرك لانيماصيو ما تمشيش <i class="configure icon"></i></p></div></div>

{% end %}


{% module Astro(res) %}

{% module Geo() %}

<h1 class="ui horizontal header divider" id="bled">
    <i class="blue travel icon"></i> 
اليوم في سطيـــف (هاذي ماشي معناه راك في سطيف، لازم تكليكي على جيب وين راني باش نجيبلك وين راك) 
 </h1>

<div class="ui fluid animated massive blue fade button" id="jeun" style="display:none">
		<div class="visible content"> وكتاش رمضان ؟</div>
		<div class="hidden content">النتيجة بالحسابات الفلكية</div>
</div>
<br/>

{% module Detail(res) %}

<input type="hidden" id="day" value="{{jour}}"/>
<div id="nocon"></div>
</div>


{% module Contact() %}

</body>
</html>
